data/*
src/__pycache__/*
src/bigacgan/__pycache__/*
src/dinterface/__pycache__/*
.idea
src/dinterface/iam_handwriting_db.py
src/scrabble_gan.gin
*.out
src/bigacgan/checkpoint
src/bigacgan/cktp*.index
src/foo.png
data.data-00000-of-00001
checkpoint
data.index
